.mySlides {
  display: none; 
  position: absolute;
  top: 8px;
} 
html,body{
  position: relative;
  height: 100%;
}

 /*Slideshow container */
#slideshow-container {
  position: relative;  
  display: block;
  width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

}
/* The dots/bullets/indicators  */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
} 

.dot.active {
  background-color: rgb(198,0,33);
}

/* Fading animation  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.banner {
  display: inline-block;
  background-image: url('../image/home_pic/cafephoto.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 265px;
  left: 850px;
  width: 270px;
  height: 520px;
  transform: translate(-50%,-50%);
}
.banner span{
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.text1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 300px;
  letter-spacing: 8px;

  position: relative;
  top: 100px;
  animation: text 3s 1;

}

.text2{
  font-size: 20px;
}
@keyframes text{
  0%{
    opacity: 0;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 19px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.inner{
    width: 1000px!important;
    margin-left: auto;
    margin-right: auto;
}
.z-1{
  z-index: -10 !important;
}
.caption-box{
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 150px;
  display: block;
  position: absolute;
  color: #f6f6f8;
  font-size: 28px;
  letter-spacing: 4px;
  margin-left: 10px;

}
.caption-box button{
  position: absolute;
  top: 80px;
  left: 30px;
  background-color: black;
  color: #f6f6f8;
  border:black solid 3px;
  display: block;
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-weight: lighter;
}
/*slider css*/
.swiper-container {
  position: relative;
  top: 0px;
  left: 10px;
  width: 100%;
  height: 400px;
}
.swiper-slide {
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.slider-box{
  height: 350px;
  width: 450px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(187,187,187,0.40);
}
.slider-box a{
  text-decoration: none;
  text-align: center;
}
.img-box{
  height: 160px;
}
.img-box img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.status{
  position: absolute;
  top: 0px;
  right: 20px;
  color: #C60021;
}
.detail{
  display: felx;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 35px;
  position: absolute;
  bottom: 0px;
}
.price{
  cursor: pointer;
  color:#ffffff;
  background-color: #C60021;
  line-height: 20px;
}
.view{
  position: absolute;
  bottom: 70px;
  height: 30px;
  background-color: #e3e3e3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view a{
  color: #000000;
}
.slider-box:hover{
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}
.slider-box:hover .img-box img{
  transform: scale(1.15);
  transition: all ease 0.3s;
}
.view:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #C60021;
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
  transition: all ease 0.1s;
}
.view a:hover{
  color: #e3e3e3;
}
.grabbable{
  cursor: grab;
  cursor: -webkit-grab;
}
.grabbable:active{
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.cart , .fav{
  width:60px;
  height: 40px;
  visibility: hidden;
  background-color:black;
  opacity:75%;
  padding:5px 0;
  border-radius: 50%;
  position:relative;
  z-index:2;
  font-size: 33px;
} 
.cart{
  top: -10px!important;
  right: 100px!important;
}
.fav{
  top: -60px!important;
  left: 100px !important;
}
.cart:hover , .fav:hover{
  transform:scale(1.05);
}
div.slider-box .cart a ,div.slider-box .fav a {
  color: #f6f6f8;
}
div.slider-box:hover .cart ,div.slider-box:hover .fav{
  display:block;
  animation: fadeIn 0.5s normal;
  visibility: visible;
}
div.slider-box .cart a:hover {
  color:rgb(112, 223, 168);
}
div.slider-box .fav a:hover {
  color:#C60021;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 0.75;
  }
}
.deals-title{
  text-align: center;
  justify-items: center;
}
