.mySlides {
  display: none; 
  position: absolute;
  top: 8px;
} 

 /*Slideshow container */
#slideshow-container {
  position: relative;  
  display: block;
  width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

}
/* The dots/bullets/indicators  */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
} 

.dot.active {
  background-color: rgb(198,0,33);
}

/* Fading animation  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.banner {
  display: inline-block;
  background-image: url('../image/home_pic/cafephoto.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 265px;
  left: 850px;
  width: 270px;
  height: 520px;
  transform: translate(-50%,-50%);
}
.banner span{
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.text1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 300px;
  letter-spacing: 8px;

  position: relative;
  top: 100px;
  animation: text 3s 1;

}

.text2{
  font-size: 20px;
}
@keyframes text{
  0%{
    opacity: 0;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 19px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
.container{
  position: relative;
  background-color: #E3E3E3;
  height: 300px;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.box{
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}
.prod{
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.game{
}
.price{
  position: absolute;
  left: 270px;
  top: 50px;
}