html, body{
    height:500px;
}


.icontainer{
    max-width:500px;
    display:inline-block;
    position:relative;
    border:10px ridge black;
    background-color: #E3E3E3;
    margin-left:10px;
}


.slide img{
    width:450px;
    height:450px;
    border-radius: 100px;
    margin-top:3px;
    
}

.fade{
    
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

.prev, .next{
    cursor: pointer;
    color:rgb(232,232,232);
    line-height:100%;
    position:absolute;
    top:50%;
    user-select: none;
    font-weight:bold;
    font-size:50px;
    background-color:black;
    opacity:0.75;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}



.next{
    right:0;
    padding-left:10px;
}

.prev{
    padding-right:10px;
}

.prev:hover, .next:hover{
    opacity:1;
}
.caption{
    position:absolute;
    bottom:0;
    margin-left: 50%;
    user-select: none;
    color:#C60021;
    font-weight: bold;
}
.darray{
    position:absolute;
    right:190px;
    bottom:0px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }

.active{
    background-color:gray;
}
/*summary section*/

.summary{
    position:relative;
    display:inline-block;
    top:-400px;
    width:750px;
    height:475px;
    margin-top:0%;
}

.summary div.name{
    position:relative;
    font:2em bold small-caps;
    padding:40px 0px 15px 125px;
}

.name:after {
    content: "";
    border-bottom: 1px solid lightgray;
    position: absolute;
    bottom: 0;
    left: 125px;
    height: 1px;
    width: 10%;
    
  }

div.price{
    padding:10px 0 90px 0;
    font:1.8em bold;
    position:relative;
}

div.price p{
    position:absolute;
    left:125px;
    top:10px;
}

.stock{
    position:absolute;
    color:green;
    left:125px;
    top:45px;
    font:normal 0.6em roboto;
    
}
/*rating*/
.rating{
    position:relative;
    padding:0px 0px 100px 125px;
}

.rating table{
    position:absolute;
    top:35px;
    left:125px;
    font-size:1.5em;

    border-radius:15px;
    width:110px;
    height:30px;
    line-height: 25px;
    }

.rating td{
    padding-left:3px;

}


.rating p:first-child{
    position:absolute;
    left:125px;
    font:1.2em "roboto" bold;
    color:black;
}

.rating p:first-child i{
 
    transform:rotate(90deg);
  
}

.thumb{
    position:absolute;
    left:260px;
    top:20px;
    font:2em roboto;
    font-variant: small-caps;
    border-radius:50%;
    color:white;
    width:50px;
    height:50px;
    line-height:50px;
    text-align: center;
    box-shadow:0px 2px 5px 2px lightgray;
}

.excellent{
    background-color:rgb(107,166,30);
}

.good{
    background-color:rgb(223,254,0);
}

.ok{
    transform:rotate(270deg);
    background-color:gold;
}

.bad{
    transform:rotate(180deg);
    background-color:orange;
}

.vbad{
    transform:rotate(180deg);
    background-color:#C60021;
}



.star{
    color:rgb(255,187,0)

}
/*input*/
.b_quantity{
    position:relative;
}

.b_quantity label{
    padding-left:125px;
    left:0px; 
    font:1.5em roboto normal;
    position:absolute;
    color:black;
    top:10px;
}

#result{
    position:absolute;
    background-color:white;
    left:275px;
    width:100px;
    text-align:center;
    height:50px;
    line-height:50px;
    top:0;
    z-index:-1;
    user-select: none;
    border:1px rgb(221,221,221) solid;
    border-right: lightgray;
    border-left:lightgray;
    box-shadow: 0px 0px 10px 3px lightgray;
}
.add, .minus{
    transition: all 0.2s linear;
    border:1px rgb(221,221,221) double;
    font-size:2em;
    color:rgb(13,10,15);
    background-color:rgb(249,249,249);
    display:inline-block;
    width:50px;
    user-select: none;
    cursor:pointer;
    text-align:center;
    position:absolute;
    height:50px;
    line-height:50px;
}

.add:hover, .minus:hover{
    background-color:rgb(193,193,193);
}
.minus {
    left:225px;
}

.add{
    left:375px;
}


button.addcart{
    background-color:#E3E3E3;
    color:black;
    position:absolute;
    width:200px;
    height:50px;
    font-size:1.5em;
    left:450px;
    cursor:pointer;
    user-select: none;
    border: 1px solid black;
    padding: 1px 1px;
    margin: 1px 0;
    border-radius: 5px;

}

button.addfav{
    background-color: #E3E3E3;
    color:black;
    position:absolute;
    width:200px;
    height:50px;
    font-size:1.5em;
    top:395px;
    left:450px;
    cursor:pointer;
    user-select: none;
    border: 1px solid black;
    padding: 1px 1px;
    margin: 1px 0;
    border-radius: 5px;
}

.addcart:hover{
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,0.16), 0 2px 15px 0 rgba(0,0,0,0.12);
    color:lightgray;
    background-color:green; 
}
.addfav:hover{
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,0.16), 0 2px 15px 0 rgba(0,0,0,0.12);
    color:lightgray;
    background-color:#C60021; 

}

/*description*/

.description{
    position:relative;
    display:inline-block;
    width:1050px;
    left:30px;
    top:-350px;
}

.description h2{
    position:relative;
    color:#C60021;
    padding:25px 0px 25px 0px;

    
}

.description h2:first-child::after{
    content: "";
    border-bottom: 1px solid gray;
    position: absolute;
    top: 0;
    padding:15px 0px 0px 15px;
    left: -10px;
    height: 1px;
    width: 1175px;
}

.description p {
    line-height:25px;
    padding:0px 0px 50px 0px;
}

.information{
    width:700px;
    height:150px;
    padding:0px 0px 40px 0px;
    font-family:"Arial";
}
.information td{
    border:1px solid rgb(231,231,231);
    padding:15px 0px 15px 20px;
}

.description button{
    width:150px;
    height:30px;
    border-radius:50px;
    color:white;
    background-image: linear-gradient(black, gray);
    font-family: "Roboto";
}

/*table*/
.recommended{
    position:relative;
    display:inline-block; 
    height:950px;
    float:right;
    width:350px;
    top:-868px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow:3px -2px 5px 2px lightgray;
    border-left: 1px gray solid;
}

.recommended table{
    border-collapse:separate;
    text-decoration:none;
    min-width: 500px;
    min-height: 350px;
    top:0px;
    text-align:center;
    padding:0px 150px 300px 0px;
}

.recommended th{
    color:gray;
    font-size:1.5em;
    text-decoration: underline;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-top:20px;
}

td.product{
    padding:40px 0px 40px 0px;
}

.recommended img{
    width: 150px;
    height:150px;

}

.container p{
    position:absolute;
    color: rgb(135, 136, 212);
    text-shadow: 1px 1px gray;
    font-family:'Roboto';
    font-size:1.1em;
    bottom:-45px;
    left:0px;
    width:100%;
    user-select: none;
    
}

.container .containerp{
    position:absolute;
    color:black;
    font-weight:bold;
    font-family:'Roboto';
    line-height: 2em;
    bottom:-70px;
    left:60px;
}

.recommended img{
    width: 200px;
    height: 200px;
    border:1px solid gray;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

div.container {
    position: relative;
    display:inline-block;
    height:200px;
}

.container:hover img{
    transform: scale(1.02);
    box-shadow: 0px 0px 7px 2px gray;

}

div.container .view {
    position: absolute;
    bottom: -37px;
    left: -3px;
    width:100%;
    padding:10px 5px 10px 0px;
    opacity: 0;
    background-color: gray;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    transition: all 0.2s linear;

}

div.container .cart a i{
    position:absolute;
    display:none;
    bottom:40px;
    left:10px;
    font-size:2.1em;
    background-color:black;
    opacity:75%;
    border-radius:25px;
    color:white;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    transition:transform 0.1s linear;
}

div.container .fav a i{
    position:absolute;
    display:none;
    bottom:40px;
    right:10px;
    font-size:2.1em;
    background-color:black;
    opacity:75%;
    border-radius:25px;
    color:white;
    width: 50px;
    height:50px;
    line-height:50px;
    text-align:center;
    transition:transform 0.2s linear;

}

.cart .cart-ttp{
    bottom:100px;
    left:-20px;
    width:120px;
    visibility: hidden;
    background-color:black;
    opacity:75%;
    color:#fff;
    text-align:center;
    padding:5px 0;
    border-radius: 6px;
    position:absolute;
    z-index:2;
}

.fav .fav-ttp{
    bottom:100px;
    right:-20px;
    width:120px;
    visibility: hidden;
    background-color:black;
    opacity:75%;
    color:#fff;
    text-align:center;
    padding:5px 0;
    border-radius: 6px;
    position:absolute;
    z-index:2;
}

div.container:hover a .view{
    color: rgb(227, 227, 228);
    background-color: black;
    opacity: 75%;
    transform: translateY(-32px);
}

div.container a .view:hover{
    color:gray;
}

div.container:hover .cart i{
    display:block;
    animation: fadeIn 0.5s normal;
}

div.container:hover .fav i{
    display:block;
    animation: fadeIn 0.5s normal;
}

div.container .cart:hover i{
    color:rgb(112, 223, 168);
    transform:scale(1.05);
}

div.container .cart:hover .cart-ttp{
    visibility:visible;
    animation: fadeIn 0.5s normal;
}

div.container .fav:hover i{
    color:red;
    transform:scale(1.05);
}

div.container .fav:hover .fav-ttp{
    visibility:visible;
    animation: fadeIn 0.5s normal;
}