body {font-family: Arial, Helvetica, sans-serif;}



form input[type=text], form input[type=password], form input[type=email] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background:rgb(231, 222, 222);
}

/* Add a background color when the inputs get focus */
form input[type=text]:focus,form  input[type=password]:focus ,form  input[type=email]:focus {
  background-color: #e3e3e3;
  outline: none;
}

/* Set a style for all buttons */
.inner button {
  position: absolute;
  top:570px;
  left: 160px;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 120px;
  height: 52px;
  font-size: 22px;

}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #C60021;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 25%;
}


.container {
  padding: 16px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: white;
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


