
/*categories block*/
div#categories{
    background-color: rgb(227, 227, 228);
    height:auto;
    width:18%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*categories header*/
div#categories h2 {
    line-height:2cm;
    text-align: center;
}

div#categories h2 a{
    text-align:center;
    text-decoration: none;
    color:rgb(135, 136, 212);
}
  

div#categories ul{
    text-align:center;
}

div#categories ul li a{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 2.0;
    color:rgb(135, 136, 212);
    }

div#categories a:hover{
    color:red;
     font-weight: bold;
}
 /*straight line*/
hr {
    color:rgb(210, 211, 216);
}


/*price*/
.price{
    font-weight: bold;
    margin-left:90px;
    color:rgb(135, 136, 212);
    line-height: 2;
}
/*submit button*/
#submit{
    width:100px;
    border-radius: 25px;
    font-size:1em;
    font-variant: small-caps;
}

#submit:hover{
    background-color:lightgray;
}


/*table style*/
div.prodpic table{
    color:red;
    border-collapse: collapse;
    text-align:center;
    padding:10px;
    margin-top:-8%;
    margin-left:30%;
    margin-right:25%;
}
/*table img style*/
div.prodpic td img{
    border:rgb(227, 227, 228);
    width:200px;
    height:200px;
}

div.prodpic td img:hover{
    transform: scale(1.02);
}
/*footer*/
footer#page{
    background-color:blue;
    text-align: center;
}

footer#page a{
    letter-spacing: 30px;
    color:white;
}

footer#page a:hover{
    color:red;
}