


h2{
    margin-top:3%;
    margin-left:5%;
    font-variant:small-caps;
    
}

aside#categories{
    margin-left:5%;
    margin-top:2%;
    background-color: rgb(227, 227, 228);
    width:15%;
  
}

aside#categories a{
    text-decoration: none;
    color:red;
}

h2 a{
    text-decoration: none;
    color:black;
}

h2 a:hover{
    color:red;
    font-weight: bold;
}

div.prodpic table{
    color:red;
    border-collapse: collapse;
    text-align:center;
    padding:10px;
    margin-top:-8%;
    margin-left:30%;
    margin-right:25%;
}

div.prodpic td img{
    width:200px;
    height:200px;
}

div.prodpic td img:hover{
    transform: scale(1.01);
}