*
{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
}
.header {
    float: top;
    background-color: rgb(227, 227, 228);
    height: 30px;
    display: block;
    width:100%;
}
.header ul{
    float: right;
    margin-top:  5px;
  
}
.header li{
  display: inline;
  
}
.header li a{
    padding: 4px 10px;
    text-decoration: none;
    color:black;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
}
.header li a:hover{
    color :rgb(198,0,33);
    text-decoration: underline;
}
.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.inner-header h{
    font-size: 12px;
    float: left;
    margin-left: 10px;
    margin-top:  9px;
    color:black;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
}
.search-box{
    position: absolute;
    top:12%;
    left:12%;
    background-color: black;
   /* transform: translate(0%,-50%); */
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover> .search-txt{
    width:500px;
    padding: 0 6px;
}
.search-box:hover> .search-btn{
    background:white;
    color:rgb(198,0,33);
}
.search-btn{
    color:white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:black ;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}
.search-txt{
    border:none;
    background: none;
    outline:none;
    float: left;
    padding: 0;
    color: white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width: 500px;
}
.profile-btn{
    position: absolute;
    top: 12%;
    left: 73%
}
.cart-btn{
    position: absolute;
    top: 12%;
    left:83%
}
.main-nav{
    padding: 10px;
    overflow: hidden;
}

.footer{
    float: bottom;
    background-color: rgb(227, 227, 228);
    height: 40px;
    display: block;
    width:100%;
}
.inner-footer{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.footer-nav{
    
    float: right;
    float: right;
    margin-top:  3px;
    
}
.footer ul{
    margin-top:  5px;
    float: right;
    
}
.footer li{
    display: inline;
}
.footer h{
    font-size: 12px;
    float: left;
    margin-left: 10px;
    margin-top:  9px;
    color:black;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
}
.footer li a{
    padding: 4px 10px;
    text-decoration: none;
    color:black;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
}
.footer li a:hover{
    color :rgb(198,0,33);
    text-decoration: underline;
}
