*
{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.header {
    float: top;
    background-color: rgb(227, 227, 228);
    height: 30px;
    display: block;
    width:100%;
    position:relative;
    
}
.header ul{
    float: right;
    margin-top:  5px;
  
}
.header li ,.footer li {
  display: inline;
  
}
.header li a{
    padding: 4px 10px;
    text-decoration: none;
    color:black;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
}
.header li a:hover{
    color :rgb(198,0,33);
    text-decoration: underline;
}
.inner-header , .inner-footer ,.inner-section{
    width: 1000px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.inner-header h{
    font-size: 12px;
    float: left;
    margin-left: 10px;
    margin-top:  9px;
    color:black;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
}
.search-box{
    position: absolute;
    top:12%;
    left:12%;
    background-color: black;
   /* transform: translate(0%,-50%); */
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover> .search-txt{
    width:500px;
    padding: 0 6px;
}
.search-box:hover> .search-btn{
    background:white;
    color:rgb(198,0,33);
}
.search-btn{
    color:white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:black ;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}
.search-txt{
    border:none;
    background: none;
    outline:none;
    float: left;
    padding: 0;
    color: white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width: 500px;
}
.profile-btn{
    position: absolute;
    top: 12%;
    left: 73%
}
.cart-btn{
    position: absolute;
    top: 12%;
    left:83%
}
.main-nav{
    height: 40px;
    padding: 0px;
    overflow: hidden;
}
.sticky-top{
    background-color: white;
    position: sticky;
    top:0;
    z-index:1;
}

  .main-nav {
    overflow: hidden;
    background-color: rgb(227, 227, 228);
  
  }

  .main-nav a {
    float: left;
    font-size: 16px;
    color:black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

  .dropdown {
    float: left;
    overflow: hidden;}
      
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;}
  .main-nav a:hover, .dropdown:hover .dropbtn {
    color: rgb(198,0,33);}
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
   background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }      
.section {
    background-color: white;
    width: 100%;
    height: 300px;
    padding: 1px;
    position: absolute;
    top: 1200px;
}

.social-icons a{
    border: 1px solid black;
    color :white;
    background-color: black;
    padding: 6px;
    border-radius: 50%;
}
.social-icons a.facebook-icon:hover{
    color: #4267B2;
    background-color: white;
    border:1px solid #4267B2;
}
.social-icons a.envelope-icon:hover{
  
    background-color: rgba(0, 0, 255);
    border:1px solid rgba(0, 0, 255);

}
.social-icons a.phone-icon:hover{
   
    background-color:rgb(0, 128, 64);
    border:1px solid rgb(0, 128, 64);

}


.footer{
    position: absolute;
    top: 1500px;
    background-color: rgb(227, 227, 228);
    height: 40px;
    display: block;
    width:100%;
}

.footer-nav{
    
    float: right;
    float: right;
    margin-top:  3px;
}
.footer ul{
    margin-top:  5px;
    float: right;
}

.footer h{
    font-size: 12px;
    float: left;
    margin-left: 10px;
    margin-top:  9px;
    color:black;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
}
.footer li a{
    padding: 4px 10px;
    text-decoration: none;
    color:black;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
}
.footer li a:hover{
    color :rgb(198,0,33);
    text-decoration: underline;
}
